* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #435C70;
    
}

.container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.container header {
    height: 90px;
    width: 100%;
    background-color:#4E657A;
    position: fixed;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
}

header .add h1 {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}

.menu ul {
    display: flex;
}

.menu ul li {
    margin: 0 1.4em;
    list-style: none;
}

.menu ul li a {
    color: #ffff;
    text-transform: capitalize;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 90%;
}
.login li{
    list-style: none;
}
.login li a {
    color: #fff;
    text-decoration: none;
    font-size: 90%;
   
}

.icon {
    color: #fff;
    font-size: 1.5rem;
}

section {
    height: 100%;
    width: 100%;
    top: 90px;
}

section main{
    margin: auto;
    background: #46637a;
    position: absolute;
    top: -420px;
    left: 50%;
    transform: translate(-50%,50%);
    
}

form {
    position: relative;
}

form h1{
    margin-bottom: 32px;
    color: #fff;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

main form{
    padding: 30px 40px;
    border-radius: 2px;
}

.product {
    display: flex;
    gap: 12px;
}

.product-input{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-input .name{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-input .name label{
    color: #fff;
}

input[type="text"], option{
    width: 350px;
    height: 50px;
    padding: 12px 3px;
    text-indent: 12px;
    border: none;
}

select {
    width: 350px;
    padding: 8px;
    height: 59px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    background-color: #fff;
    height: 40px;
}

option {
    background-color: #fff;
    color: #333;
}

option:hover {
    background-color: #f0f0f0;
}

option:checked {
    background-color: #e0e0e0;
}

textarea{
    width: 350px;
    height: 110px;
    padding: 12px 3px;
    text-indent: 12px;
    border: none;
}

input:focus, textarea:focus {
    outline: none;
    border: 2px solid #4CAF50; /* Add your desired focus border color */
    box-shadow: 0 0 5px rgba(81, 203, 238, 1); /* Add your desired box shadow */
}


.telecharge{
    display: flex;
    flex-direction: column;
    gap: 30px;
    top: 210px;
    position: relative;
}
.logo{
    width: 357px;
    height: 257px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: #435C70;
    border: 2px dashed #fff;
}

.icons{
    color: #fff;
    width: 100%;
    font-weight: 900;
    font-size: 120px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-items: center;
}

.tale {
width: 357px;
height: 57px;
background:#435C70;
color: #fff;
text-align: center;
display: flex;
align-items: center;
justify-items: center;
justify-content: center;
}


.btn button{
    width: 720px;
    background:#4E657A;
    text-align: center;
    height: 50px;
    border: none;
    color: #fff;
    margin: 16px 0;
    cursor: pointer;
}

.priceError{
    border: 1px solid red !important;
}

.progress{
    background: #fff;
    height: 7px;
    width: 90%;
}

.detail{
    display:none;
    gap: 12px;
    z-index: 4;
    position:relative;
}

.detail.active{
   display: block;
}



.telecharge{
    position: relative;
}

.progress {
    display:flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    gap: 12px;
}


img{
    width: 358px;
    height: 290px;
    position: absolute;
    top: -395px;
    left: 0;
    display: none;
}

img.active{
    display:block;
}


.calculatrice{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:-215px;
}

.cal p{
    position: relative;
    margin-bottom: 16px;
    color: #e0e0e0;
}

.inc{
    display: flex;
    width: 100%;  
    gap: 16px;
}

input.cal {
    width: 48%;
}
.result{
    position: absolute;
    top: 100px;
}
.btnC{
    border: 1px solid #FFF;
    background: #46637a;
    padding: 12px 10px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;

}
